@import url("../assets/src/Helvetica-Neue-Font/Helvetica");
@import url("../assets/src/Poor Richard/");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");
html {
  font-size: 62.5%; }
  @media screen and (max-width: 687px) {
    html {
      font-size: 20%; } }
  @media screen and (min-width: 688px) and (max-width: 1110px) {
    html {
      font-size: 45%; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    html {
      font-size: 60%; } }

* {
  font-family: "Poor Richard", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

a {
  text-decoration: none; }

main {
  margin-top: 10rem;
  margin-bottom: 10rem; }

main div div img:hover {
  transform: scale(1.03);
  transition: transform 1.6s ease; }

body {
  background-image: url(../assets/img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

header {
  background: linear-gradient(to right top, #5C7F7C, #577774);
  opacity: .9;
  width: 100%;
  border-bottom: #262626 .1rem solid; }
  header h1 {
    font-size: 7rem;
    font-weight: 600;
    color: #f5f3f3;
    font-family: "Dancing Script", sans-serif; }
    header h1:hover {
      color: #343230;
      transform: translateX(0.5px); }
    @media screen and (max-width: 361px) {
      header h1 {
        font-size: 3.5rem; } }
    @media screen and (max-width: 450px) and (min-width: 362px) {
      header h1 {
        font-size: 5rem; } }
    @media screen and (max-width: 687px) and (min-width: 451px) {
      header h1 {
        font-size: 7rem; } }
    @media screen and (min-width: 688px) and (max-width: 900px) {
      header h1 {
        font-size: 4rem; } }
    @media screen and (min-width: 901px) and (max-width: 1350px) {
      header h1 {
        font-size: 7rem; } }
  header p {
    font-size: 2rem;
    font-weight: 300;
    color: #f5f3f3;
    font-family: "Roboto, sans-serif"; }
    header p:hover {
      color: #343230;
      transform: translateX(0.5px); }
    @media screen and (max-width: 361px) {
      header p {
        font-size: 1.7rem; } }
    @media screen and (max-width: 450px) and (min-width: 362px) {
      header p {
        font-size: 1.7rem; } }
    @media screen and (max-width: 687px) and (min-width: 451px) {
      header p {
        font-size: 1.7rem; } }
    @media screen and (min-width: 688px) and (max-width: 900px) {
      header p {
        font-size: 1.3rem; } }
    @media screen and (min-width: 901px) and (max-width: 1110px) {
      header p {
        font-size: 1.8rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1350px) {
      header p {
        font-size: 1.5rem; } }
  header ul {
    list-style-type: none; }
    header ul li a p {
      font-size: 3rem;
      font-weight: 400;
      color: #f5f3f3;
      font-family: "Poor Richard", sans-serif;
      transition: transform .1s; }
      @media screen and (max-width: 361px) {
        header ul li a p {
          font-size: 2rem; } }
      @media screen and (max-width: 450px) and (min-width: 362px) {
        header ul li a p {
          font-size: 3rem; } }
      @media screen and (max-width: 687px) and (min-width: 451px) {
        header ul li a p {
          font-size: 3rem; } }
      @media screen and (min-width: 688px) and (max-width: 767px) {
        header ul li a p {
          font-size: 1.6rem; } }
      @media screen and (min-width: 768px) and (max-width: 900px) {
        header ul li a p {
          font-size: 2rem; } }
      @media screen and (min-width: 901px) and (max-width: 1110px) {
        header ul li a p {
          font-size: 2.5rem; } }
      @media screen and (min-width: 1111px) and (max-width: 1350px) {
        header ul li a p {
          font-size: 2.2rem; } }
      header ul li a p:hover {
        color: #343230;
        transform: translateX(0.5px); }
  header button {
    background-color: transparent;
    border-color: transparent; }
    header button img {
      height: 30px;
      width: 30px;
      background-color: transparent;
      cursor: pointer;
      transition: transform .1s; }
      header button img:hover {
        transform: translateX(0.5px); }
      @media screen and (min-width: 688px) and (max-width: 1110px) {
        header button img {
          height: 18px;
          width: 18px; } }
      @media screen and (min-width: 1111px) and (max-width: 1350px) {
        header button img {
          height: 21px;
          width: 21px; } }

.logo {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  margin: 1rem;
  border: #262626 0.1rem solid;
  transition: transform .1s; }
  .logo:hover {
    transform: rotate(180deg);
    transition: transform 2s; }
  @media screen and (max-width: 361px) {
    .logo {
      height: 35px;
      width: 35px; } }
  @media screen and (max-width: 450px) and (min-width: 362px) {
    .logo {
      height: 37px;
      width: 37px; } }
  @media screen and (max-width: 687px) and (min-width: 451px) {
    .logo {
      height: 50px;
      width: 50px; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .logo {
      height: 65px;
      width: 65px; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .logo {
      height: 90px;
      width: 90px; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .logo {
      height: 140px;
      width: 140px; } }

.botones {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: .8;
  transition: transform .1s; }
  .botones:hover {
    transform: translateX(0.5px); }
  @media screen and (max-width: 361px) {
    .botones {
      height: 13px;
      width: 13px;
      margin-left: 1rem; } }
  @media screen and (max-width: 450px) and (min-width: 362px) {
    .botones {
      height: 12px;
      width: 12px;
      margin-left: 1rem; } }
  @media screen and (max-width: 687px) and (min-width: 451px) {
    .botones {
      height: 15px;
      width: 15px;
      margin-left: 1rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .botones {
      height: 20px;
      width: 20px; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .botones {
      height: 20px;
      width: 20px; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .botones {
      height: 25px;
      width: 25px; } }

.botones-margin {
  margin: .3rem; }

.buscador {
  margin: .3rem; }

.barra-buscadora {
  height: 30px;
  width: 150px; }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .barra-buscadora {
      height: 18px;
      width: 65px; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .barra-buscadora {
      height: 20px;
      width: 85px; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .barra-buscadora {
      height: 25px;
      width: 100px; } }

main section {
  border: solid #577774 1px; }
  main section div a h3 {
    font-size: 3rem;
    font-weight: 400;
    color: #577774;
    font-family: "Poor Richard", sans-serif;
    transition: transform .1s; }
    main section div a h3:hover {
      color: #4b4a49;
      transform: translateX(0.3px); }
    @media screen and (max-width: 361px) {
      main section div a h3 {
        font-size: 3rem; } }
    @media screen and (max-width: 687px) and (min-width: 362px) {
      main section div a h3 {
        font-size: 4.2rem; } }
    @media screen and (min-width: 688px) and (max-width: 900px) {
      main section div a h3 {
        font-size: 2.2rem; } }
    @media screen and (min-width: 901px) and (max-width: 1110px) {
      main section div a h3 {
        font-size: 2.7rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1350px) {
      main section div a h3 {
        font-size: 2.4rem; } }
  main section article {
    background-color: #f5f3f3; }

.fondo-sections {
  background-color: #f5f3f3; }

.margin-articles {
  margin-top: 10rem; }

.secciones {
  width: 65%; }

footer {
  margin-top: auto;
  background: linear-gradient(to right top, #5C7F7C, #577774);
  opacity: .9;
  width: 100%;
  border-top: #262626 .1rem solid; }
  footer p {
    font-size: 2rem;
    font-weight: 500;
    color: #f5f3f3; }
    @media screen and (max-width: 361px) {
      footer p {
        font-size: 3rem; } }
    @media screen and (max-width: 687px) and (min-width: 362px) {
      footer p {
        font-size: 3.3rem; } }
    @media screen and (min-width: 688px) and (max-width: 900px) {
      footer p {
        font-size: 2rem; } }
    @media screen and (min-width: 901px) and (max-width: 1110px) {
      footer p {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1199px) {
      footer p {
        font-size: 2rem; } }
    @media screen and (min-width: 1200px) and (max-width: 1350px) {
      footer p {
        font-size: 2.2rem; } }
  footer h4 {
    font-size: 2.3rem;
    font-weight: 500;
    color: #f5f3f3;
    transition: transform .1s; }
    footer h4:hover {
      color: #343230;
      transform: translateX(0.5px); }
    @media screen and (max-width: 361px) {
      footer h4 {
        font-size: 3rem; } }
    @media screen and (max-width: 687px) and (min-width: 362px) {
      footer h4 {
        font-size: 4rem; } }
    @media screen and (min-width: 688px) and (max-width: 900px) {
      footer h4 {
        font-size: 2rem; } }
    @media screen and (min-width: 901px) and (max-width: 1110px) {
      footer h4 {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1199px) {
      footer h4 {
        font-size: 2rem; } }
    @media screen and (min-width: 1200px) and (max-width: 1350px) {
      footer h4 {
        font-size: 2.2rem; } }
  footer h5 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #f5f3f3; }
    @media screen and (max-width: 361px) {
      footer h5 {
        font-size: 1.7rem; } }
    @media screen and (max-width: 687px) and (min-width: 362px) {
      footer h5 {
        font-size: 2rem; } }
    @media screen and (min-width: 688px) and (max-width: 900px) {
      footer h5 {
        font-size: 1.6rem; } }
    @media screen and (min-width: 901px) and (max-width: 1110px) {
      footer h5 {
        font-size: 1.8rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1350px) {
      footer h5 {
        font-size: 1.5rem; } }
  footer ul {
    list-style-type: none; }

.logos-redes {
  height: 4rem;
  width: 4rem;
  border-radius: 50%; }

.copyright {
  height: 2.5rem;
  width: 2.5rem;
  opacity: .5; }

.parrafos {
  font-size: 2.7rem;
  font-weight: 400;
  color: #577774;
  margin: 1rem 0; }
  @media screen and (max-width: 361px) {
    .parrafos {
      font-size: 3.7rem; } }
  @media screen and (max-width: 687px) and (min-width: 362px) {
    .parrafos {
      font-size: 4.7rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .parrafos {
      font-size: 2.7rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .parrafos {
      font-size: 3.2rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1199px) {
    .parrafos {
      font-size: 2.7rem; } }
  @media screen and (min-width: 1200px) and (max-width: 1350px) {
    .parrafos {
      font-size: 2.2rem; } }

.precios {
  font-size: 2rem;
  font-weight: 400;
  color: #577774;
  margin: 0.5rem 0; }
  @media screen and (max-width: 361px) {
    .precios {
      font-size: 2.1rem; } }
  @media screen and (max-width: 687px) and (min-width: 362px) {
    .precios {
      font-size: 3.2rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .precios {
      font-size: 1.8rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .precios {
      font-size: 1.9rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .precios {
      font-size: 1.7rem; } }

main section form fieldset {
  border-color: transparent; }
  main section form fieldset input {
    font-size: 2.7rem;
    font-weight: 400;
    color: #151414;
    background-color: #f5f3f3;
    opacity: .9;
    border: 1px solid #262626;
    border-bottom: #744d4d solid 1px; }
    @media screen and (max-width: 1350px) {
      main section form fieldset input {
        font-size: 2.2rem; } }
  main section form fieldset label {
    font-size: 2.7rem;
    font-weight: 400;
    color: #f5f3f3;
    border-bottom: #744d4d solid 1px; }
    @media screen and (max-width: 1110px) {
      main section form fieldset label {
        font-size: 3.2rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1350px) {
      main section form fieldset label {
        font-size: 2.2rem; } }
  main section form fieldset select {
    font-size: 2.5rem;
    font-weight: 400;
    color: #151414;
    height: 5rem;
    cursor: pointer;
    background-color: #f5f3f3;
    opacity: .9;
    border: 1px solid #262626;
    border-bottom: #744d4d solid 1px; }
    @media screen and (max-width: 361px) {
      main section form fieldset select {
        height: 4rem; } }
    @media screen and (max-width: 1110px) and (min-width: 362px) {
      main section form fieldset select {
        height: 5rem; } }
    @media screen and (min-width: 1111px) and (max-width: 1350px) {
      main section form fieldset select {
        height: 4rem; } }
    main section form fieldset select option {
      font-size: 2.2rem;
      font-weight: 300;
      color: #151414; }
  main section form fieldset section input {
    color: #151414;
    border: 0.5px solid #262626; }
    main section form fieldset section input:hover {
      animation-name: animateDiv;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 5s;
      animation-delay: 0s;
      transform: translateX(0.5px); }
  main section form fieldset div input {
    font-size: 2.3rem;
    font-weight: 300;
    color: #151414;
    background-color: #f5f3f3;
    border-radius: 15%; }
  main section form fieldset div label {
    font-size: 2.3rem;
    font-weight: 300;
    color: #151414;
    background-color: #f5f3f3;
    border-radius: 10%; }

@keyframes animateDiv {
  0% {
    background: linear-gradient(to top #5C7F7C, #A7D4D9); }
  25% {
    background: linear-gradient(to right, #577774, #5C7F7C); }
  50% {
    background: linear-gradient(to bottom, #5C7F7C, #577774); }
  75% {
    background: linear-gradient(to left, #577774, #5C7F7C); }
  100% {
    background: linear-gradient(to top, #5C7F7C, #A7D4D9); } }

.titulo-carrito {
  font-size: 3.7rem;
  font-weight: 500;
  color: #f5f3f3; }
  @media screen and (max-width: 361px) {
    .titulo-carrito {
      font-size: 4.3rem; } }
  @media screen and (max-width: 687px) and (min-width: 362px) {
    .titulo-carrito {
      font-size: 5.3rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .titulo-carrito {
      font-size: 3.3rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .titulo-carrito {
      font-size: 3.8rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .titulo-carrito {
      font-size: 3.3rem; } }

.titulo-mapa {
  font-size: 3rem;
  font-weight: 500;
  color: #f5f3f3; }
  @media screen and (max-width: 361px) {
    .titulo-mapa {
      font-size: 3rem; } }
  @media screen and (max-width: 687px) and (min-width: 362px) {
    .titulo-mapa {
      font-size: 4rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .titulo-mapa {
      font-size: 2.2rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .titulo-mapa {
      font-size: 2.5rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .titulo-mapa {
      font-size: 2rem; } }

.form-fondo {
  background-color: #5C7F7C;
  border: solid #577774 3px;
  width: 65%; }

.ubicacion {
  margin-top: 10rem; }

.botones-enviar {
  cursor: pointer; }

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer; }

.fondo-carousel {
  background-color: #f5f3f3;
  width: 65%; }

.titulo-nosotros {
  font-size: 3.5rem;
  font-weight: 400;
  color: #577774; }
  @media screen and (max-width: 361px) {
    .titulo-nosotros {
      font-size: 4.3rem; } }
  @media screen and (max-width: 687px) and (min-width: 362px) {
    .titulo-nosotros {
      font-size: 5rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .titulo-nosotros {
      font-size: 3.3rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .titulo-nosotros {
      font-size: 3.8rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .titulo-nosotros {
      font-size: 3.3rem; } }

.texto-nosotros {
  font-size: 3rem;
  font-weight: 300;
  color: #577774; }
  @media screen and (max-width: 450px) {
    .texto-nosotros {
      font-size: 3.3rem; } }
  @media screen and (max-width: 687px) and (min-width: 451px) {
    .texto-nosotros {
      font-size: 3.5rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .texto-nosotros {
      font-size: 2.4rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .texto-nosotros {
      font-size: 2.6rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .texto-nosotros {
      font-size: 2.3rem; } }

main section table th {
  font-size: 2rem;
  font-weight: 300;
  color: #f5f3f3; }

main section table td {
  font-size: 1.7rem;
  font-weight: 200;
  color: #f5f3f3; }

.titulo-talles {
  font-size: 3.5rem;
  font-weight: 500;
  color: #f5f3f3; }
  @media screen and (max-width: 361px) {
    .titulo-talles {
      font-size: 4.3rem; } }
  @media screen and (max-width: 687px) and (min-width: 362px) {
    .titulo-talles {
      font-size: 5.3rem; } }
  @media screen and (min-width: 688px) and (max-width: 900px) {
    .titulo-talles {
      font-size: 3.3rem; } }
  @media screen and (min-width: 901px) and (max-width: 1110px) {
    .titulo-talles {
      font-size: 3.8rem; } }
  @media screen and (min-width: 1111px) and (max-width: 1350px) {
    .titulo-talles {
      font-size: 3.3rem; } }

.titulos-tablas {
  font-size: 2.5rem;
  font-weight: 400;
  color: #f5f3f3; }

.fondo-talles {
  background-color: #151414;
  border-top: #5C7F7C solid 1.2px; }

.fondo-tablas {
  background-color: #151414;
  border-top: #5C7F7C solid 1.2px; }

.tablas-margin {
  margin: 0; }
