main section form fieldset{
    border-color: transparent;
    input{
        @include texto(2.7rem, 400, $black);
        background-color: $white;
        opacity: .9;
        border: 1px solid $borders;
        border-bottom: rgb(116, 77, 77) solid 1px;
        @media screen and (max-width: 1350px){
            font-size: 2.2rem;
        }
    }
    label{
        @include texto (2.7rem,400,$white);
        border-bottom: rgb(116, 77, 77) solid 1px;
        @media screen and (max-width: 1110px){
            font-size: 3.2rem;
        }
        @include wide{
            font-size: 2.2rem;
        }
    }
    select{
        @include texto(2.5rem,400,$black);
        height: 5rem;
        cursor: pointer;
        background-color: $white;
        opacity: .9;
        border: 1px solid $borders;
        border-bottom: rgb(116, 77, 77) solid 1px;
        @include cel{
            height: 4rem;
        }
        @media screen and (max-width: 1110px) and (min-width: 362px){
            height: 5rem;
        }
        @include wide{
            height: 4rem;
        }
        option{
            @include texto(2.2rem,300,$black);
        }
    }
    section{
        input{
            color: $black;
            border: .5px solid $borders;
            &:hover{
                animation-name: animateDiv;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 5s;
                animation-delay: 0s;
                transform: translateX(.5px);
            }
        }
    }
    div{
        input{
            @include texto (2.3rem,300,$black);
            background-color: $white;
            border-radius: 15%;
        }
        label{
            @include texto (2.3rem,300,$black);
            background-color: $white;
            border-radius: 10%;
        }
    }
}
@keyframes animateDiv{
    0%{background:linear-gradient(to top $mainColor, #A7D4D9)}
    25%{background:linear-gradient(to right, $secondaryColor, $mainColor)}
    50%{background:linear-gradient(to bottom, $mainColor, $secondaryColor)}
    75%{background:linear-gradient(to left, $secondaryColor, $mainColor)}
    100%{background:linear-gradient(to top, $mainColor, #A7D4D9)}
}
.titulo-carrito{
    @include texto(3.7rem,500,$white);
    @include cel{
        font-size: 4.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 5.3rem;
    }
    @include tablet-xl{
        font-size: 3.3rem;
    }
    @include desktop{
        font-size: 3.8rem;
    }
    @include wide{
        font-size: 3.3rem;
    }
}
.titulo-mapa{
    @include texto(3rem,500,$white);
    @include cel{
        font-size: 3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4rem;
    }
    @include tablet-xl{
        font-size: 2.2rem;
    }
    @include desktop{
        font-size: 2.5rem;
    }
    @include wide{
        font-size: 2rem;
    }
}
.form-fondo{
    background-color: $mainColor;
    border: solid $secondaryColor 3px;
    width: 65%;
}
.ubicacion{
    margin-top: 10rem;
}
.botones-enviar{
    cursor: pointer;
}
.checkbox{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}