main section form fieldset{
    border-color: transparent;
    input{
        @include texto(2.5rem, 400, map-get($map:$paleta, $key: 'black'));
        background-color: map-get($map:$paleta, $key: 'white');
        opacity: .9;
        border: 1px solid $borders;
        border-bottom: rgb(227, 21, 21) solid 1px;
        @include cel{
            font-size: 3.7rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 4rem;
        }
        @include tablet-xl{
            font-size: 2.5rem;
        }
        @include desktop{
            font-size: 2.7rem;
        }
        @include wide{
            font-size: 2.3rem;
        }
    }
    label{
        @include texto (2.7rem,400,map-get($map:$paleta, $key: 'white'));
        opacity: .9;
        @include cel{
            font-size: 3.7rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 4rem;
        }
        @include tablet-xl{
            font-size: 2.5rem;
        }
        @include desktop{
            font-size: 2.7rem;
        }
        @include wide{
            font-size: 2.5rem;
        }
    }
    select{
        @include texto(2.5rem,400,map-get($map:$paleta, $key: 'black'));
        height: 5rem;
        cursor: pointer;
        background-color: map-get($map:$paleta, $key: 'white');
        opacity: .9;
        border: 1px solid $borders;
        border-bottom: rgb(227, 21, 21) solid 1px;
        @include cel{
            font-size: 3.7rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 4rem;
        }
        @include tablet-xl{
            font-size: 2.5rem;
        }
        @include desktop{
            font-size: 2.7rem;
        }
        @include wide{
            font-size: 2.5rem;
        }
        option{
            @include texto(2.2rem,300,map-get($map:$paleta, $key: 'black'));
        }
    }
    section{
        input{
            color: map-get($map:$paleta, $key: 'black');
            border: .5px solid $borders;
            @include cel{
                font-size: 3.7rem;
            }
            @media screen and (max-width: 687px) and (min-width: 362px){
                font-size: 4rem;
            }
            @include tablet-xl{
                font-size: 2.5rem;
            }
            @include desktop{
                font-size: 2.7rem;
            }
            @include wide{
                font-size: 2.5rem;
            }
            &:hover{
                animation-name: animateDiv;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 5s;
                animation-delay: 0s;
                transform: translateX(.5px);
            }
        }
    }
    textarea{
        @include texto(2.7rem, 400, map-get($map:$paleta, $key: 'black'));
        background-color: map-get($map:$paleta, $key: 'white');
        opacity: .9;
        border: 1px solid $borders;
        border-bottom: rgb(227, 21, 21) solid 1px;
        @media screen and (max-width: 1350px){
            font-size: 2.2rem;
        }
    }
    div{
        input{
            @include texto (2.3rem,300,map-get($map:$paleta, $key: 'black'));
            background-color: map-get($map:$paleta, $key: 'white');
            border-radius: 15%;
        }
        label{
            @include texto (2.3rem,300,map-get($map:$paleta, $key: 'black'));
            background-color: map-get($map:$paleta, $key: 'white');
            border-radius: 10%;
            @include cel{
                font-size: 2.5rem;
            }
            @media screen and (max-width: 687px) and (min-width: 362px){
                font-size: 3.2rem;
            }
            @include tablet-xl{
                font-size: 2rem;
            }
            @include desktop{
                font-size: 2.2rem;
            }
            @include wide{
                font-size: 2rem;
            }
        }
    }
}
@keyframes animateDiv{
    0%{background:linear-gradient(to top map-get($map:$paleta, $key: 'main'), map-get($map:$paleta, $key: 'third'))}
    25%{background:linear-gradient(to right, map-get($map:$paleta, $key: 'secondary'), map-get($map:$paleta, $key: 'main'))}
    50%{background:linear-gradient(to bottom, map-get($map:$paleta, $key: 'main'), map-get($map:$paleta, $key: 'secondary'))}
    75%{background:linear-gradient(to left, map-get($map:$paleta, $key: 'secondary'), map-get($map:$paleta, $key: 'main'))}
    100%{background:linear-gradient(to top, map-get($map:$paleta, $key: 'main'), map-get($map:$paleta, $key: 'third'))}
}
.titulo-carrito{
    @include texto(3rem,500,map-get($map:$paleta, $key: 'white'));
    @include cel{
        font-size: 4rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.7rem;
    }
    @include tablet-xl{
        font-size: 3rem;
    }
    @include desktop{
        font-size: 3.5rem;
    }
    @include wide{
        font-size: 3rem;
    }
}
.titulo-mapa{
    @include texto(2.7rem,500,map-get($map:$paleta, $key: 'white'));
    @include cel{
        font-size: 3.7rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.3rem;
    }
    @include tablet-xl{
        font-size: 2.7rem;
    }
    @include desktop{
        font-size: 3.2rem;
    }
    @include wide{
        font-size: 2.7rem;
    }
}
.form-fondo{
    background-color: map-get($map:$paleta, $key: 'main');
    border: solid map-get($map:$paleta, $key: 'secondary') 3px;
    width: 65%;
}
.ubicacion{
    margin-top: 10rem;
}
.botones-enviar{
    cursor: pointer;
}
.checkbox{
    @extend .botones-enviar;
    border-radius: 0%;
}
@keyframes animateCarrito{
    0%{transform: translateX(0px);}
    50%{transform: translateX(5px);}
    100%{transform: translateX(0px);}
}
.animation-carrito{
    animation-name: animateCarrito;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: 0s;
}