main div div div p{
    color: $white;
}
.parrafos{
    font-size: 2.5rem;
    @media screen and (min-width: 280px) and (max-width: 361px){
        font-size: 3.5rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.5rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 2.5rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 3rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1199px){
        font-size: 2.5rem;
    }
    @media screen and (min-width: 1200px) and (max-width: 1350px){
        font-size: 2rem;
    }
}
.precios{
    font-size: 2rem;
    @media screen and (min-width: 280px) and (max-width: 361px){
        font-size: 2rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 3rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 1.6rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 1.8rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1350px){
        font-size: 1.5rem;
    }
}
