.parrafos{
    @include texto(2.7rem,400,$secondaryColor);
    margin: 1rem 0;
    @include cel{
        font-size: 3.7rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.7rem;
    }
    @include tablet-xl{
        font-size: 2.7rem;
    }
    @include desktop{
        font-size: 3.2rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1199px){
        font-size: 2.7rem;
    }
    @media screen and (min-width: 1200px) and (max-width: 1350px){
        font-size: 2.2rem;
    }
}
.precios{
    @include texto(2rem,400,$secondaryColor);
    margin: 0.5rem 0;
    @include cel{
        font-size: 2.1rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 3.2rem;
    }
    @include tablet-xl{
        font-size: 1.8rem;
    }
    @include desktop{
        font-size: 1.9rem;
    }
    @include wide{
        font-size: 1.7rem;
    }
}
