main div div div p{
    color: $black;
    font-family: $richard;
}
.parrafos{
    font-size: 2.7rem;
    margin: 1rem 0;
    @media screen and (min-width: 280px) and (max-width: 361px){
        font-size: 3.7rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.7rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 2.7rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 3.2rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1199px){
        font-size: 2.7rem;
    }
    @media screen and (min-width: 1200px) and (max-width: 1350px){
        font-size: 2.2rem;
    }
}
.precios{
    font-size: 2rem;
    margin: 0.5rem 0;
    @media screen and (min-width: 280px) and (max-width: 361px){
        font-size: 2.1rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 3.2rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 1.8rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 1.9rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1350px){
        font-size: 1.7rem;
    }
}
