* {
    font-family: $richard;
}
a{
    text-decoration: none;
}
main{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
main div div img:hover{
    transform: scale(1.03);
    transition: transform 1.6s ease;
}
.fondo-titulos{
    background-color: rgba($color: $mainColor, $alpha: .8);
}
.fondo-parrafos{
    background: linear-gradient(to right top, rgba($color: $mainColor, $alpha: .7), rgba($color: $secondaryColor, $alpha: .7));
}
