* {
    font-family: $richard;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
}
a{
    text-decoration: none;
}
main{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
main div div img:hover{
    transform: scale(1.03);
    transition: transform 1.6s ease;
}
