footer{
    margin-top: auto;
    background:linear-gradient(to right top, map-get($map:$paleta, $key: 'main'), map-get($map:$paleta, $key: 'secondary'));
    opacity: .9;
    width: 100%;
    border-top: #262626 .1rem solid;
    p{
        @include texto(1.9rem,500,map-get($map:$paleta, $key: 'white'));
        @include cel{
            font-size: 2.5rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 3.4rem;
        }
        @include tablet-xl{
            font-size: 2.1rem;
        }
        @include desktop{
            font-size: 2.1rem;
        }
        @media screen and (min-width: 1111px) and (max-width: 1199px){
            font-size: 1.7rem;
        }
        @media screen and (min-width: 1200px) and (max-width: 1350px){
            font-size: 1.8rem;
        }
    }
    h4{
        @include texto(2.1rem,500,map-get($map:$paleta, $key: 'white'));
        transition: transform .1s;
        &:hover{
            color: $hovers;
            transform: translateX(.5px);
        }
        @include cel{
            font-size: 2.8rem;
            display: none;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 3.8rem;
            display: none;
        }
        @include tablet-xl{
            font-size: 2rem;
            display: none;
        }
        @include desktop{
            font-size: 2.2rem;
            display: none;
        }
        @media screen and (min-width: 1111px) and (max-width: 1199px){
            font-size: 2rem;
        }
        @media screen and (min-width: 1200px) and (max-width: 1350px){
            font-size: 2rem;
        }
    }
    h5{
        @include texto(1.5rem,400,map-get($map:$paleta, $key: 'white'));
        @include cel{
            font-size: 1.7rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 2rem;
        }
        @include tablet-xl{
            font-size: 1.6rem;
        }
        @include desktop{
            font-size: 1.8rem;
        }
        @include wide{
            font-size: 1.5rem;
        }
    }
    ul{
        list-style-type: none
    }
}
.logos-redes{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.copyright{
    height: 2.5rem;
    width: 2.5rem;
    opacity: .5;
}