footer{
    background:linear-gradient(to right top, $mainColor, $secondaryColor);
    opacity: .9;
    width: 100%;
    border-top: #262626 .1rem solid;
    p{
        padding-top: 2rem;
        color: $white;
        font-size: 2.8rem;
        font-weight: 500;
        @media screen and (min-width: 280px) and (max-width: 361px){
            font-size: 3.7rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 4.7rem;
        }
        @media screen and (min-width: 688px) and (max-width: 900px){
            font-size: 2.7rem;
        }
        @media screen and (min-width: 901px) and (max-width: 1110px){
            font-size: 3rem;
        }
        @media screen and (min-width: 1111px) and (max-width: 1199px){
            font-size: 2.3rem;
        }
        @media screen and (min-width: 1200px) and (max-width: 1350px){
            font-size: 2.2rem;
        }
    }
    h4{
        color: $white;
        font-size: 2.5rem;
        font-weight: 500;
        transition: transform .1s;
        &:hover{
            color: $hovers;
            transform: translateX(.5px);
        }
        @media screen and (min-width: 280px) and (max-width: 361px){
            font-size: 3.7rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 4.7rem;
        }
        @media screen and (min-width: 688px) and (max-width: 900px){
            font-size: 2.7rem;
        }
        @media screen and (min-width: 901px) and (max-width: 1110px){
            font-size: 3rem;
        }
        @media screen and (min-width: 1111px) and (max-width: 1199px){
            font-size: 2.3rem;
        }
        @media screen and (min-width: 1200px) and (max-width: 1350px){
            font-size: 2.2rem;
        }
    }
    h5{
        color: $white;
        font-size: 1.5rem;
        font-weight: 500;
        @media screen and (min-width: 280px) and (max-width: 361px){
            font-size: 2rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 3rem;
        }
        @media screen and (min-width: 688px) and (max-width: 900px){
            font-size: 1.6rem;
        }
        @media screen and (min-width: 901px) and (max-width: 1110px){
            font-size: 1.8rem;
        }
        @media screen and (min-width: 1111px) and (max-width: 1350px){
            font-size: 1.5rem;
        }
    }
    ul{
        list-style-type: none
    }
}
.logos-redes{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}