main{
    section{
        border: solid $secondaryColor 1px;
        div{
            a{
                h3{
                    @include texto(3rem,400,$secondaryColor);
                    font-family: 'Helvetica';
                    transition: transform .1s;
                    &:hover{
                        color: $hoversMain;
                        transform: translateX(.3px)
                    }
                    @include cel{
                        font-size: 3rem;
                    }
                    @media screen and (max-width: 687px) and (min-width: 362px){
                        font-size: 4.2rem;
                    }
                    @include tablet-xl{
                        font-size: 2.2rem;
                    }
                    @include desktop{
                        font-size: 2.7rem;
                    }
                    @include wide{
                        font-size: 2.4rem;
                    }
                }
            }
        }
        article{
            background-color: $white;
        }
    }
}
.fondo-sections{
    background-color: $white;
}
.margin-articles{
    margin-top: 10rem;
}