main{
    section{
        border: solid map-get($map:$paleta, $key: 'secondary') 1px;
        div{
            a{
                h3{
                    @include texto(3rem,400,map-get($map:$paleta, $key: 'secondary'));
                    font-family: $richard;
                    transition: transform .1s;
                    &:hover{
                        color: $hoversMain;
                        transform: translateX(.3px)
                    }
                    @include cel{
                        font-size: 3rem;
                    }
                    @media screen and (max-width: 687px) and (min-width: 362px){
                        font-size: 4.2rem;
                    }
                    @include tablet-xl{
                        font-size: 2.2rem;
                    }
                    @include desktop{
                        font-size: 2.7rem;
                    }
                    @include wide{
                        font-size: 2.4rem;
                    }
                }
            }
        }
        article{
            background-color: map-get($map:$paleta, $key: 'white');
        }
    }
}
.fondo-sections{
    background-color: map-get($map:$paleta, $key: 'white');
}
.margin-articles{
    margin-top: 10rem;
}
.secciones{
    width:65%;
}