.titulo-nosotros{
    color: $white;
    font-size: 3.5rem;
    font-weight: 400;
    @media screen and (min-width: 280px) and (max-width: 361px){
        font-size: 4.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 5.3rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 3.3rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 3.8rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1350px){
        font-size: 3.3rem;
    }
}
.texto-nosotros{
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    @media screen and (max-width: 450px){
        font-size: 3.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 451px){
        font-size: 3.8rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 2.4rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 2.6rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1350px){
        font-size: 2.3rem;
    }
}