.titulo-nosotros{
    @include texto(3.5rem,400,$white);
    @include cel{
        font-size: 4.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 5.3rem;
    }
    @include tablet-xl{
        font-size: 3.3rem;
    }
    @include desktop{
        font-size: 3.8rem;
    }
    @include wide{
        font-size: 3.3rem;
    }
}
.texto-nosotros{
    @include texto(3rem,300,$white);
    @media screen and (max-width: 450px){
        font-size: 3.3rem;
    }
    @include tablet{
        font-size: 3.8rem;
    }
    @include tablet-xl{
        font-size: 2.4rem;
    }
    @include desktop{
        font-size: 2.6rem;
    }
    @include wide{
        font-size: 2.3rem;
    }
}