main{
    section{
        table{
            th{
                @include texto(2rem,300,map-get($map:$paleta, $key: 'white'));
                @include cel{
                    font-size: 2.7rem;
                }
                @media screen and (max-width: 687px) and (min-width: 362px){
                    font-size: 3rem;
                }
            }
            td{
                @include texto(1.7rem,200,map-get($map:$paleta, $key: 'white'));
                @include cel{
                    font-size: 2.3rem;
                }
                @media screen and (max-width: 687px) and (min-width: 362px){
                    font-size: 2.6rem;
                }
            }
        }
    }
}
.titulo-talles{
    @include texto(3rem,500,map-get($map:$paleta, $key: 'white'));
    @include cel{
        font-size: 4rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.7rem;
    }
    @include tablet-xl{
        font-size: 3rem;
    }
    @include desktop{
        font-size: 3.5rem;
    }
    @include wide{
        font-size: 3rem;
    }
}
.titulos-tablas{
    @include texto(2.3rem,400,map-get($map:$paleta, $key: 'white'));
    @include cel{
        font-size: 3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 3rem;
    }
}
.fondo-talles{
    background-color: map-get($map:$paleta, $key: 'black');
    border-top: map-get($map:$paleta, $key: 'main') solid 1.2px;
}
.fondo-tablas{
    background-color: map-get($map:$paleta, $key: 'black');
    border-top: map-get($map:$paleta, $key: 'main') solid 1.2px;
}
.tablas-margin{
    margin: 0;
}
.width-tabla{
    width: 65%;
}