main{
    section{
        table{
            th{
                font-size: 2rem;
                font-weight: 300;
            }
            td{
                font-size: 1.7rem;
                font-weight: 200;
            }
        }
    }
}
.titulo-talles{
    color: $white;
    font-size: 3.5rem;
    font-weight: 500;
    @media screen and (min-width: 280px) and (max-width: 361px){
        font-size: 4.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 5.3rem;
    }
    @media screen and (min-width: 688px) and (max-width: 900px){
        font-size: 3.3rem;
    }
    @media screen and (min-width: 901px) and (max-width: 1110px){
        font-size: 3.8rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1350px){
        font-size: 3.3rem;
    }
}
.titulos-tablas{
    color: $white;
    font-size: 3rem;
    font-weight: 400;
}