main{
    section{
        table{
            th{
                @include texto(2rem,300,$white);
            }
            td{
                @include texto(1.7rem,200,$white);
            }
        }
    }
}
.titulo-talles{
    @include texto(3.5rem,500,$white);
    @include cel{
        font-size: 4.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 5.3rem;
    }
    @include tablet-xl{
        font-size: 3.3rem;
    }
    @include desktop{
        font-size: 3.8rem;
    }
    @include wide{
        font-size: 3.3rem;
    }
}
.titulos-tablas{
    @include texto(2.5rem,400,$white);
}
.fondo-talles{
    background-color: $black;
    border-top: $mainColor solid 1.2px;
}
.fondo-tablas{
    background-color: $black;
    border-top: $mainColor solid 1.2px;
}
.tablas-margin{
    margin: 0;
}