$borders: #262626;
$hovers: #343230;
$hoversMain: #4b4a49;
$paleta:(
    'main': #5C7F7C,
    'secondary': #577774,
    'third': #A7D4D9,
    'forth': #BAD9D9,
    'fifth': #A9D9D0,
    'sisxth': #9FBFBF,
    'black': #151414,
    'white': #f5f3f3,
);