@import "../scss/_var.scss";
@import "../scss/_fonts.scss";
@import "../scss/_common.scss";
@import "../scss/_mixins.scss";
@import "../scss/_body.scss";
@import "../scss/_navbar.scss";
@import "../scss/_main-index.scss";
@import "../scss/_footer.scss";
@import "../scss/_categorias.scss";
@import "../scss/_carrito.scss";
@import "../scss/_nosotros.scss";
@import "../scss/_talles.scss";

